/*轮播插件*/
.hero {
    width: 100%;
    height: 100%;
    min-height: 500px;
    position: relative;
}
.hero .container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 999;
}
.hero .tagline {
    /*font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;*/
    font-weight: bold;
    /*letter-spacing: -3px;*/
    width: 100%;
    padding: 15% 0 0 0;
    float: left;
    color: white;
    text-align: center;
    position: relative;
    color: #dddfd4;
}
.hero .tagline p {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 10px;
    text-align: center;
    font-style:oblique;
}
.hero .tagline h1{
	position: absolute;
	top:10px;
	left:150px;
	font-size: 2rem;
	font-weight: bold;
}
/*导航插件*/
.xq_bag{
	width: 100%;
	height: 50px;
	overflow: hidden;
	position: relative;
}
.xq_navbar{
	width: 100%;
	height: 50px;
	overflow: hidden;
	box-sizing: border-box;
	box-sizing:inherit;
}
.xq_navli{
	list-style: none;
	display: inline-block;
	color: #fff;
	box-sizing:inherit;
	text-align: center;
	float: left;
}
.xq_navli a{
	font-size: 18px;
	display: block;
	color: currentcolor;
	text-decoration: none;
}
.xq_move{
	transition:all .3s ease-in-out;
	position:absolute;
}
/* tabs */
.slideTxtBox{ width:100%; border:1px solid #ddd; text-align:left; }

.slideTxtBox .hd{ height:32px; line-height:32px; background:#f4f4f4; padding:0 10px 0 20px;   border-bottom:1px solid #ddd;  position:relative; font-size: 16px;}

.slideTxtBox .hd ul{ float:left;  position:absolute; left:20px; top:-1px; height:32px;   }

.slideTxtBox .hd ul li{ float:left; padding:0 15px; cursor:pointer;  }
.slideTxtBox .hd ul li.on{ height:30px;  background:#3fb0ac; border:1px solid #ddd; border-bottom:2px solid #fff; }
.slideTxtBox .bd ul li div{margin-left: 10px;}
.slideTxtBox .bd ul li div a:hover{color:red; }
.slideTxtBox .bd ul li div a{color:#000; }
.slideTxtBox .bd {height:294px; overflow: auto;}
.slideTxtBox .bd ul{ padding:15px;  zoom:1; }

/*.slideTxtBox .bd li{ height:24px; line-height:24px; text-overflow: ellipsis; overflow: hidden; font-size: 16px;}*/

.slideTxtBox .bd li .date{ float:right; color:#999;  }
/* main */

.span-news-left{
	width: 746px;	
	float:left;
}
.bxslidercontainer{
	width:100%;
	height:326px;
}
.bxslidercontainer img{
	width:100%;
	height:326px;
}
.span-news-right{
	width:494px;
	float:left;
}
.span-news-right .newstab{
	height:326px;
	background: #fff;
}
.news-hd{
	height:32px;
	background: #dddfd4;
}
.news-bd{
	height:292px;
	border: 1px solid #bed3e4;	
}
.news-items{
	margin:6px 15px 0;	
}
.news-item{
	line-height: 28px;
	height:28px;
	vertical-align: top;
}
.common-block{
	padding-left: 9px;
    width: 70%;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#333;
}
.common-block a:hover{color:red; }
.common-block a{color:#000; }
.left{
	float: left;
}
.news-h2{
	font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #c70c0d;
}
.news-p{
	padding: 0 13px;
    line-height: 24px;
    font-size: 14px;
    text-indent: 2em;
    color: #666;
}
.row-articles{
	width:302px;
	overflow: hidden;
	background: #fff;
}
.row-articles .hd{		
	/*border-top: 2px dotted #963019;*/
}
.row-articles .hd span{
	display: inline;
	font-size: 18px;
	font-weight: bold;
	color:#f6f1ed;
	height: 32px;
	line-height: 32px;
	font-weight: bolder;		
	background: #963019;
}
.hd-lline{
	width:300px;
	height:3px;
	margin-top: 0px;
	background: #963019;
}
.row-articles ul li{
	height: 26px;
    line-height: 26px;
    font-family: sinsum, 宋体;
    overflow: hidden;
}
.row-articles ul li .date{ float:right; color:#999; margin-right: 3px;}

.row-articles-divider{	
	width:10px;
	height:162px;
	background: #fff;	
}
.vertical-line{
	margin:0 auto;
	width:2px;
	height:100%;
	background: #000;
}
#adline{
	margin:10px 5px;
	width:1220px;
	height:100px;		
}
#adline img{	
	height: 100px;
	width:100%;
}

.animated-shake:hover{-webkit-animation-name:shake;animation-name:shake;}